module Alchemizer
  module Grammars
    grammar Query
      include Alchemizer::Grammars::Logic
      include Alchemizer::Grammars::Common

      rule query_file
        (line:query_file_line newline rest:query_file) {
          def value
            [line.value].compact + rest.value
          end
        }

        / (line:query_file_line) {
          def value
            [line.value].compact
          end
        }
      end

      rule query_file_line
        (space* element space*) {
          def value
            element.value
          end
        }

        / (dummy:space*) {
          def value
            nil
          end
        }
      end

      rule opt
        (e:element ',' rest:opt) {
          def value
            [e.value] + rest.value
          end
        }

        / (e:element) {
          def value
            [e.value]
          end
        }
      end

      rule element
        (p:pred_name space* !'(') {
          def value
            p.text_value
          end
        }

        / (a:atom) {
          def value
            a.value
          end
        }
      end

      rule arg
        sol_atom
        / variable
        / constant
      end
    end
  end
end