module Alchemist
  module Grammars
    grammar DBStatement
      include Alchemist::Grammars::Logic
      include Alchemist::Grammars::Common

      rule statement
        comment

        / (a:atom) {
          def value
            [a.value, true]
          end
        }

        / '!' space* a:atom {
          def value
            [a.value, false]
          end
        }

        / '?' space* a:atom {
          def value
            [a.value, nil]
          end
        }
      end

      rule arg
        sol_atom
        / constant
      end
    end
  end
end